:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 152px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 152px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

/* Hero ection */

.hero-section {
  padding: 272px 0px;
  background-image: url('../images/image\ 1559.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title-accent {
  color: var(--color-brand-light);
}

.section-title-accent {
  color: var(--color-brand-dark);
}

/* Advantages section */

.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-light);
}

.advantage-title {
  display: none;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary-light);
}

.advantage-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

/* Thaditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 104px;
}

.text-container {
  max-width: 708px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text {
  margin-bottom: 42px;
}

.traditions-text:last-child {
  margin-bottom: 0;
  max-width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  max-width: 605px;
}

.chef-card {
  display: flex;
}

.chef-image {
  margin-right: 30px;
}

.chef-wrapper {
  max-width: 334px;
}

.chefs-title {
  max-width: 538px;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
}

.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Formats section */

.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.format-card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
  border: 1px solid lightgray;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text-wrapper {
  font-size: 14px;
  font-weight: 300;
}

/* Contacts section */

.contacts-title {
  margin-bottom: 16px;
}

/* Footer section */

.footer {
  background-image: url('../images/footer_2.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-social {
  fill: var(--color-primary-light);
}

.address-social:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
  font-style: normal;
}
